<h1>Add a song!</h1>

<% if @track.errors.any? %>
<div>
    <strong>Uh oh! Please fill out the required fields: </strong>
    <ul>
      <% @track.errors.messages.values.each do|msg| %>
        <% msg.each do |m| %>
         <li><%= m %></li>
        <% end %>
      <% end %>
    </ul>
</div>
<% end %>

<form method="POST" action="/tracks">
  <div> 
    <label>Artist:</label>
    <input type="text" name="author" value="<%= @track.author %>">
  </div>
  <div>
    <label>Song Title:</label>
    <input type= "text" name= "song_title" value="<%= @track.song_title %>">
  </div>
  <div>
    <label>URL: (optional)</label>
    <input type= "url" name= "url" value="<%= @track.url %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
